@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  /* Colors */
  --color-bg: #0B0F1A;
  --color-surface: #111827;
  --color-accent: #F59E0B;
  --color-accent-2: #3B82F6;

  /* Text Colors */
  --color-primary: #F9FAFB;
  --color-secondary: #9CA3AF;

  /*Font Family */
  --font-manrope: Manrope, sans-serif;

  /* Radius */
  --radius-xl: 16px;
}

 /* =================================
     TYPOGRAPHY
     ================================= */

.theme-cinema {
  --color-bg: #06070C;
  --color-surface: #0E0F16;
  --color-accent: #FFB400;
  --color-accent-2: #60A5FA;

  /* Text Colors */
  --color-primary: #FFF5DC;
  --color-secondary: #C8BEA0;
}

/* =================================
   BASE STYLES
   ================================= */

   html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: theme(colors.bg);
    color: theme(colors.primary);
    -webkit-font-smoothing: antialiased;
    font-family: Manrope, sans-serif;
  }
  
  ::selection {
    background-color: color-mix(
      in srgb,
      theme(colors.accent) 35%,
      transparent
    );
  }
  
  /* =================================
     TYPOGRAPHY
     ================================= */
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
    letter-spacing: -0.02em;
  }
  
  p {
    color: theme(colors.secondary);
    line-height: 1.7;
  }
  
  /* =================================
     SCROLLBAR (OPTIONAL POLISH)
     ================================= */
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: theme(colors.bg);
  }
  
  ::-webkit-scrollbar-thumb {
    background: theme(colors.surface);
    border-radius: 999px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: theme(colors.accent);
  }
